<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> <%= @city[:name] %> · <%= @city[:region] %> · Visual Aragopedia</title>
  <meta name="description" content="Visual Aragopedia...">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="/stylesheets/pure-min.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyBUwp-nYrbNOempM4YsDfu1HXu9wxLJjPY"></script>
  <script type="text/javascript" src="/javascripts/d3.v3.min.js"></script>
  <script type="text/javascript" src="/javascripts/d3.legend.js"></script>
  <script type="text/javascript" src="/javascripts/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascripts/sankey.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
</head>
<body>
  <div class="pure-menu pure-menu-horizontal"><a href="/">Visual Aragopedia</a></div>

  <div id="map-canvas" class="banner" data-location="<%= @city[:name] %>"></div>
  <div id="header">
    <h1><%= @city[:name] %></h1>
    <h2><%= @city[:region] %></h2>
  </div>

  <div id="wrapper">
    <div class="pure-g dashboards">

      <div class="pure-u-1 population">
        <h2><i class="fa fa-users"></i> Población</h2>
        <div class="pure-g">
          <div class="pure-u-1-2">
            <div class="dashboard vseparator">
              <h3>Padrón <a class="icon-info"> <i class="fa fa-info-circle"></i></a></h3>
              <div class="census"></div>
              <div class="info">
                <p>Explotación y difusión de las cifras oficiales de población de todos los municipios aragoneses, comarcas y provincias a 1 de enero de cada año a partir de las cifras aprobadas por el Gobierno y publicadas en BOE. Referencia al 1 de enero de cada año.</p>
                <p>
                  <a href="/assets/padron/padron_<%= @city[:ine] %>.csv" target="_blank">Ver datos en CSV</a> ·
                  <a href="http://opendata.aragon.es/catalogo/catalogo.html?q=padron" target="_blank">Ver datos en Aragón Open Data</a>
                </p>
              </div>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="dashboard">
              <h3>Tasa de paro <a class="icon-info"><i class="fa fa-info-circle"></i></a></h3>
              <div class="unemployment"></div>
              <div class="info">
                <p>Datos de número de parados extraídos del Instituto Aragonés de Estadística, a 1 de noviembre de cada año.</p>
                <p>Activos: se refiere a la potencialmente activa (15 a 64 años). Se ha considerado como población potencialmente activa la comprendida entre 15 y 64 años, en lugar de 16 a 64 años, debido a que a nivel municipal el INE solo proporciona datos por intervalos de edad (0-4, 5-9, 10-14, 15-19, etc.).</p>
                <p>
                  <a href="/assets/paro/poblacion_paro_<%= @city[:ine] %>.csv" target="_blank">Ver datos en CSV</a> ·
                  <a href="#" target="_blank">Ver datos en Aragón Open Data</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-u-1 elections">
        <h2><i class="fa fa-university"></i> Elecciones</h2>
        <div class="pure-g">
          <div class="pure-u-1">
            <div class="dashboard">
              <h3>Votos en las elecciones <a class="icon-info"><i class="fa fa-info-circle"></i></a></h3>
              <div class="votes"></div>
              <div class="info">
                <p>Información sobre las votaciones en elecciones dentro de Aragón. Las elecciones se desagregan a nivel municipal e incluyen el voto a los distintos partidos políticos.</p>
                <p>
                  <a href="/assets/elecciones/sankey_<%= @city[:ine] %>.csv" target="_blank">Ver datos en CSV</a> ·
                  <a href="http://opendata.aragon.es/catalogo/catalogo.html?q=votos" target="_blank">Ver datos en Aragón Open Data</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pure-u-1 economy">
        <h2><i class="fa fa-euro"></i> Economía</h2>
        <div class="pure-g">

          <div class="pure-u-1-2">
            <div class="dashboard vseparator">
              <h3>Actividades económicas <a class="icon-info"><i class="fa fa-info-circle"></i></a></h3>
              <div class="activities"></div>
              <div class="error">
                <p>No hay datos disponibles para poblaciones menores de 10.000 habitantes.</p>  
              </div>
              <div class="info">
                <p>Instrumento de difusión de información estadística de las actividades económicas desarrolladas en la Comunidad Autónoma de Aragón, por municipios y tipos de actividad económica según CNAE-93. Datos referridos al año 2008.</p>
                <p>
                  <a href="/assets/actividades/actividades_<%= @city[:ine] %>.csv" target="_blank">Ver datos en CSV</a> ·
                  <a href="http://opendata.aragon.es/catalogo/catalogo.html?q=actividades+econ%25C3%25B3micas" target="_blank">Ver datos en Aragón Open Data</a>
                </p>
              </div>
            </div>
          </div>

          <div class="pure-u-1-2">
            <div class="dashboard">
              <h3>Turismo <a class="icon-info"><i class="fa fa-info-circle"></i></a></h3>
              <div class="tourism"></div>
              <div class="info">
                <p>Explotación de la información estadística sobre la oferta de establecimientos de alojamientos de turistas en la Comunidad Autónoma de Aragón, por municipios, comarcas y provincias. Desglose por tipo de alojamiento turístico: hoteles, hostales y similares, campings, turismo rural y apartamentos.</p>
                <p>
                  <a href="/assets/turismo/turismo_<%= @city[:ine] %>.csv" target="_blank">Ver datos en CSV</a> ·
                  <a href="http://opendata.aragon.es/catalogo/establecimientos-y-plazas-de-alojamiento-de-turistas-segun-tipo-por-municipios-comarcas-y-provinci" target="_blank">Ver datos en Aragón Open Data</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <%= erb :_footer %>

  <script src="/javascripts/line_chart.js"></script>
  <script src="/javascripts/sankey_diagram.js"></script>
  <script src="/javascripts/bar_chart.js"></script>
  <script src="/javascripts/bar_chart_turismo.js"></script>
  <script src="/javascripts/line_chart_paro.js"></script>

  <script>
    $(document).ready(function(){
      censusLinesChart.csvFile = '/assets/padron/padron_<%= @city[:ine] %>.csv';
      censusLinesChart.draw();

      activitiesBarChart.csvFile = '/assets/actividades/actividades_<%= @city[:ine] %>.csv';
      activitiesBarChart.draw();

      votesSankey.csvFile = '/assets/elecciones/sankey_<%= @city[:ine] %>.csv';
      votesSankey.draw();

      tourismBarChart.csvFile = '/assets/turismo/turismo_<%= @city[:ine] %>.csv';
      tourismBarChart.draw();

      unemploymentLinesChart.csvFile = '/assets/paro/poblacion_paro_<%= @city[:ine] %>.csv';
      unemploymentLinesChart.draw();
    });
  </script>
</body>
</html>
